{% extends "base.html" %}

{% block content %}

<style>
    .fourohfour h1 {
        text-align: center;
    }
</style>

<div class="fourohfour">
    <h1>Missing page</h1>
    <p>This page has gone missing. Please help me find it.</p>
    <p>REWARD if found and returned. Please call 404-PAGE-NOT-FOUND</p>

    <h2>Description</h2>

    <p>It listens to the name "<i><script>document.write(window.location.pathname.split("/").pop())</script></i>" and is colored black and yellow. Last seen near a german data center.</p>
</div>

{% endblock %}
