<div
  class="{{ include.class }} message-box"
  ctd-data="{{ include.data }}"
  ctd-cookie="{{ include.class }}"
  ctd-prompt="{{ include.prompt | default: site.ctd-prompt }}"
  ctd-tries="{{ include.tries | default: site.ctd-tries }}">

  {% if include.class %}
    {% if include.data %}
      This information is password protected to prevent it from being abused.
      <br>
      Just <a href="/#contact">send me a request</a> with a reason why you need it and I can send you the password.
      <input
        type="button"
        value="Show protected infromation"
        onclick="ClickToDecrypt.decryptClass('{{ include.class }}');" />
    {% else %}
      <strong>Missing include param: data</strong>
    {% endif %}
  {% else %}
    <strong>Missing include param: class</strong>
  {% endif %}

</div>
