---
---

%entry-style {
  .entry {
    span {
      display: block;
    }

    .title {
      font-weight: bold;
    }

    .employer {
      font-style: italic;
    }

    .summary {
      margin-top: 7px;
    }
  }

  .date {
    text-align: center;
  }
}

.past-jobs {
  @extend %entry-style;
}

.education {
  @extend %entry-style;
}
